body{
    background-image: linear-gradient(#174411,#222222 );
}
#Inicio{
    margin-top: 2em;
    height: 70em;
    background-image: url(img/Habitaciones/Habitacion1.jpg);
    background-position: center center;
    background-size: cover;
}
#ExitosZona{
    height: 43em;
}
#mainBuscador{
    height: 800px;
}