section {
    margin-bottom: 10px;

}

.formularioInicioSesion {
    margin-left: 35%;
    margin-right: 35%;
    border: 1px solid black;
    border-radius: 24px;
    padding-bottom: 10px;
}